<div class="account-container">
  <mat-card class="profile-card">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="profile-header-image">
        <img class="avatar" src='{{user.image}}'>
      </div>
      <mat-card-title>{{user.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Mis intereses</p>
      <mat-chip-list class="_2_3">
        <mat-chip  color="accent"  *ngFor="let category of user.categories">{{category}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button><mat-icon>history</mat-icon>History</button>
      <button mat-button><mat-icon>edit</mat-icon>Edit</button>
    </mat-card-actions>
  </mat-card>
</div>