@import '../../styles.scss';
.profile-card {
    max-width: 80vh;
    height: 100%;
  }
 
.account-container {
    width: 100%;
    height: 70%;
    margin-top: 5vh;
    text-align: center;
    @include md {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.card-content {
    height: 40vh;
}
.profile-header-image {
    height: 20vh;
}
.mat-card-avatar {
    width: auto; 
}
.avatar {
    border-radius: 50%;
}
body {
    height: auto;
}
.mat-card-title {
    padding-top: 32px;
}
.mat-chip-list-wrapper {
    width: 66.6%;
}